.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000; /* 背景色 */
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.headerRight {
    display: flex;
    align-items: center;
}

.languageBlock {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

.languageIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.languageSelect{
background: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
} 

.logoutButton{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer
}
