.dailyBest{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: relative;
    z-index:2;
    transform: translateY(-100px);
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}
.dailyBestComBlock {
    background-color: rgba(0, 0, 0, 0.0001);
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 5px;
    font-size: 24px;
    
}

.recommendation {
    width: 20%;
    height: 10%;
    bottom: 10%;
    left: 1%;
    color: white;
    z-index: 4;
    display: flex;
    align-items: center;
}

.rightArrowBlock {
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.rightArrow {
    width: 20px;
    height: 20px;
    background: url('/public/image/right-arrow.png') no-repeat center;
    background-size: contain;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.exploreButton {
    transition: width 0.6s ease, opacity 0.6s;
    opacity: 0;
    transform: translateX(0);
    width:0px;
    white-space: nowrap;
    font-size: 14px;
    margin-left: 10px;
    color:aquamarine;
    text-align: center;
}

.dailyBestExpBlock:hover .rightArrow {
    opacity: 1;
    transform: translateX(0);
    display: block;
    z-index: 2;
}

.rightArrow:hover + .exploreButton,
.rightArrowBlock:hover .exploreButton {
    opacity: 1;
    width:70px;
    z-index: 2;
}

.dailyBestComButton:hover ~ .rightArrow,
.dailyBestComButton:hover ~ .exploreButton {
    opacity: 1;
    transform: translateX(10px);
    display: block;
    z-index: 2;
}

