.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    z-index: 1000;
    box-sizing: border-box; 
}

.header.scrolled {
    background-color: #141414;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0; 
    padding: 0; 
}

.navigation a {
    color: white;
    text-decoration: none;
}

.userOptions {
    display: flex;
    gap: 15px; /* 增加選項之間的間距 */
}

.userOptions a {
    color: white;
    text-decoration: none;
}
body {
    margin-top: 60px; /* 根據頁首的高度調整 */
}