.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    z-index: 1000;
    box-sizing: border-box; 
}

.iconSearch{
    width: 30px;
    height: 30px;

}

.iconBell{
    width: 30px;
    height: 30px;
}   

.iconUser{
    width: 30px;
    height: 30px;
}

.iconUpload{
    width: 10px;
    height: 10px;
    
}

.header.scrolled {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.2), rgba(0, 0, 0, 0.01));;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0; 
    padding: 0; 
}

.navigation a {
    color: white;
    text-decoration: none;
}

.userOptions {
    display: flex;
    gap: 15px; /* 增加選項之間的間距 */
}

.userOptions a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bellIconBlock, .userIconBlock {
    position: relative;
}

.dropdownMenuBell, .dropdownMenuUser {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    display: none;
}

.bellIconBlock:hover .dropdownMenuBell,
.userIconBlock:hover .dropdownMenuUser {
    display: block;
}

.iconUploadRotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
